<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Vídeos App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-searchbar placeholder="Buscar" color="dark"></ion-searchbar>

  <ion-list color="dark">
    <ion-item-sliding>
      <ion-item lines="full" color="dark">
        <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/kn72J6BFcN71VYOl8sTVeo7x9ph.jpg"
          />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Army of the Dead (2021)</h1>
            <p>14/05/2021 (US) - 2h28</p>
            <p>Ação, Terror, Thriller, Crime</p>
          </div>
        </ion-label>
        <ion-chip color="warning" outline>
          <ion-label>66%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="dourado" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star" color="light"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="full" color="dark">
        <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wllzjZxg4ynlAm5xmOICJ2uHOPJ.jpg"
          />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Godzilla vs. Kong (2021)</h1>
            <p>01/04/2021 (BR) - 1h53</p>
            <p>Ação, Aventura, Ficção científica</p>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label>81%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="dourado" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star" color="light"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
