ion-item {
  --padding-inline-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail {
    height: 100%;
    margin-inline-end: 10px;
  }

  h1 {
    font-weight: bold;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.6rem;
  }

  p + p {
    color: #a3a2a2;
  }

  ion-chip{
    padding-inline: 3px;
  }

  ion-badge{
    font-weight: 300;
    font-size: 0.6rem;
    margin-right: 2px;
  }
}

.list-md{
  padding-top: 0;
  padding-bottom: 0;
}
